<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile="runtime/phpunit/result.cache"
         failOnWarning="true"
         failOnRisky="true"
         executionOrder="random"
         stderr="true"
         beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="Keeper - Admin panel and UI toolkit">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>tests</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="runtime/phpunit/coverage"/>
            <text outputFile="runtime/phpunit/coverage.txt"/>
            <clover outputFile="runtime/phpunit/logs/clover.xml"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
